<MudPaper Class="pa-4 mt-4" Elevation="0" Square="true" Style="background-color:#343a40; color: #fff;">
    <MudContainer>
        <MudGrid>
            <!-- Sección About -->
            <MudItem xs="12" sm="6" md="3">
                <MudText Typo="Typo.h6">About</MudText>
                <MudDivider Class="my-2" Style="width:25%; background-color:#fff;" />
                <MudText>
                    Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression.
                </MudText>
            </MudItem>

            <!-- Sección Informations -->
            <MudItem xs="12" sm="6" md="2">
                <MudText Typo="Typo.h6">Informations</MudText>
                <MudDivider Class="my-2" Style="width:25%; background-color:#fff;" />
                <MudList T="string">
                    <MudListItem>
                        <MudLink Href="">Link 1</MudLink>
                    </MudListItem>
                    <MudListItem>
                        <MudLink Href="">Link 2</MudLink>
                    </MudListItem>
                    <MudListItem>
                        <MudLink Href="">Link 3</MudLink>
                    </MudListItem>
                    <MudListItem>
                        <MudLink Href="">Link 4</MudLink>
                    </MudListItem>
                </MudList>
            </MudItem>

            <!-- Sección Others links -->
            <MudItem xs="12" sm="6" md="2">
                <MudText Typo="Typo.h6">Others links</MudText>
                <MudDivider Class="my-2" Style="width:25%; background-color:#fff;" />
                <MudList T="string">
                    <MudListItem>
                        <MudLink Href="">Link 1</MudLink>
                    </MudListItem>
                    <MudListItem>
                        <MudLink Href="">Link 2</MudLink>
                    </MudListItem>
                    <MudListItem>
                        <MudLink Href="">Link 3</MudLink>
                    </MudListItem>
                    <MudListItem>
                        <MudLink Href="">Link 4</MudLink>
                    </MudListItem>
                </MudList>
            </MudItem>

            <!-- Sección Contact -->
            <MudItem xs="12" sm="6" md="3">
                <MudText Typo="Typo.h6">Contact</MudText>
                <MudDivider Class="my-2" Style="width:25%; background-color:#fff;" />
                <MudList T="string">
                    <MudListItem>
                        <MudIcon Icon="@Icons.Material.Filled.Home" Class="mr-2" /> My company
                    </MudListItem>
                    <MudListItem>
                        <MudIcon Icon="@Icons.Material.Filled.Email" Class="mr-2" /> email@example.com
                    </MudListItem>
                    <MudListItem>
                        <MudIcon Icon="@Icons.Material.Filled.Phone" Class="mr-2" /> + 33 12 14 15 16
                    </MudListItem>
                    <MudListItem>
                        <MudIcon Icon="@Icons.Material.Filled.Print" Class="mr-2" /> + 33 12 14 15 16
                    </MudListItem>
                </MudList>
            </MudItem>

            <!-- Sección inferior: Back to top y copyright -->
            <MudItem xs="12">
                <MudDivider Class="my-2" Style="background-color:#fff;" />
                <MudGrid>
                    <MudItem xs="6">
                        <MudLink Href="#" >Back to top</MudLink>
                    </MudItem>
                    <MudItem xs="6" Class="d-flex justify-end align-center">
                        <MudText>
                            created with <MudIcon Icon="@Icons.Material.Filled.Favorite" /> by 
                            <MudLink Href="https://t-php.fr/43-theme-ecommerce-bootstrap-4.html" >
                                <i>t-php</i>
                            </MudLink> | <span>v. 1.0</span>
                        </MudText>
                    </MudItem>
                </MudGrid>
            </MudItem>
        </MudGrid>
    </MudContainer>
</MudPaper>

@code {

}
